body{
    background-color:  #022e5a;         
    
}
center{
    background-color: cadetblue;
}
h1{
    text-align: center;
    color: snow ;
    font-style: initial;
    font-family: serif;
    font-size: 28px;

}
h2{
    text-align: center;
    color: lightcyan;
    font-size: 23px;

}
p{
    color: #e1dce9;
    text-indent: 2cm;
    font-size: 23px;

}