body{
    background-color: #87BEE6;
}
h1{
    color: #cc0066;
    text-align: center;
    font-style: italic;

}
h2{
    text-align: center;
    font-style: italic;
    
}
center{

    background-color: #6666ff;
}
p{
    text-indent: 2cm;
}