
table, th, td {
    border: 2px solid black;
    text-align: center;

}
center{
    font-size: 18px;
}
td{
    background-color: #ffb6b7 ;
    
}
th{
    font-family: courier;
    background-color: cadetblue;
}
body{
    background-color: #d1eaf5;
}